* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px 0px 30px 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px; /* Adjust as needed */
  height: 960px;
  padding: 0px;
  box-sizing: border-box;
  flex-basis: auto;
  outline-color: black;
  outline-style: solid;
}

.grid-item {
  width: 60px; /* 960px / 16 = 60px */
  height: 60px;
  border: 1px solid #ccc;
  background-color: white;
  width: calc(100% / n - 2px); /* Assuming 2px border */
  box-sizing: border-box; /* Ensures that the border is included in the width */
  flex-basis: auto;
}

.grid-hover {
  background-color: #7c7c7c;
  box-sizing: border-box;
}
